
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Resim Görüntüleme</title>
    <style>
        img {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <img src="https://i.pinimg.com/originals/53/27/8d/53278d98ccc8715450c84e3b3498a85b.png" alt="Resim">
</body>
</html>