@model ImageModel
@{
    ViewData["Title"] = "OpenAIImageSamplex";
}

<h1>OpenAIImageSamplex</h1>

<img src="@Model.ImageUrl" alt="Resim" style="width: 100px; height: 100px;">
<img src="@Model.ImageUrl2" alt="Resim" style="width: 100px; height: 100px;">

<button type="submit">Resmi Indir</button>

